table {
    border-collapse:collapse
    }
td{
    border:1px solid #ddd;
    padding:8px;
}
.team-full_name {
    background-color: crimson;
    color: white;
}

.atlantic {
    background-color: green !important;
}

.central {
    background-color: orangered !important;
}

.southeast {
    background-color: blue !important;
}

.northwest {
    background-color: fuchsia !important;
}

.pacific {
    background-color: blueviolet !important;
}

.southwest {
    background-color: black !important;
}