<!-- <div>
    <h3>{{team.full_name}}</h3>
    <ul>
        <i>
            <li><b>CODICE</b> = {{team.id}}</li>
            <li><b>ABBREVIAZIONE</b> = {{team.abbreviation}}</li>
            <li><b>CITTÀ</b> = {{team.city}}</li>
            <li><b>CONFERENZA</b> = {{team.conference}}</li>
            <li><b>DIVISIONE</b> = {{team.division}}</li>
            <li><b>NOME COMPLETO</b> = {{team.full_name}}</li>
            <li><b>NOME</b> = {{team.name}}</li>
        </i>
    </ul>
    <hr />
    
</div>
 -->

 <div>
    <h3>{{team.full_name}}</h3>
        <i>
            <tr><td><b>CODICE</b></td><td>{{team.id}}</td></tr>
            <tr><td><b>ABBREVIAZIONE</b></td><td>{{team.abbreviation}}</td></tr>
            <tr><td><b>CITTÀ</b></td><td>{{team.city}}</td></tr>
            <tr><td><b>CONFERENZA</b></td><td>{{team.conference}}</td></tr>
            <tr><td><b>DIVISIONE</b></td><td>{{team.division}}</td></tr>
            <tr><td><b>NOME COMPLETO</b></td><td>{{team.full_name}}</td></tr>
            <tr><td><b>NOME</b></td><td>{{team.name}}</td></tr>
        </i>
    <hr />
    
</div>