table {
    border-collapse:collapse
    }
td{
    border:1px solid #ddd;
    padding:8px;
}
.team-full_name {
    background-color: crimson;
    color: white;
}

.Atlantic {
    background-color: green !important;
}

.Central {
    background-color: orangered !important;
}

.Southeast {
    background-color: blue !important;
}

.Northwest {
    background-color: fuchsia !important;
}

.Pacific {
    background-color: blueviolet !important;
}

.Southwest {
    background-color: black !important;
}